<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/head') %>
    
</head>
<body>
    <%- include('partials/header') %>
    <h1>Quizz incroyable</h1>

   
    <div class="container">
            <div>
               <h2>Vous avez finis le quizz</h2>


                <h3>Vous avez eu <%= score %> points sur <%= questions %> questions</h3>

                <div>
                   <a href="/">Faire un autre quizz</a>

                </div>
            </div>
    </div>
</body>
</html>